

body{
    background-color:darkgray;
}


#footer{
    text-align: center;
    padding: 3% 15%;
}

.top-section {
    text-align: center;
    margin-top: 10%;
}

.heading {
    margin: 20px 0;
}

.input-field{
    border-radius: 2px;
    width: 300px;
    margin: 0 auto;
    background-color:beige;
}

.top  {
    
    padding: 0 15%;
    
}

.form-div {
    padding: 0 15%;
    margin: 0 auto;
    width: fit-content;
    font-size: 1em;
   
   
   
}

.btn {
    width: 300px;
}

.check-box {
   margin: 10px 0 20px;
    
}

.form-check-label {
    margin-left: 5px;
}