body {
    margin: 0;
    text-align: center;
    font-family:'Source Serif 4', sans-serif;
    font-size: 1em;
}

h1 {

    color:#66bfbf;
    margin: 50px auto 0 auto;
    font-size: 90px;
    
}

h2 {

    color: #66bfbf;
    font-weight: normal;

}

h3 {
    color: #11999e;
}

p{
    line-height: 2;
}

a {
    color: #11999e;
    font-family:'Source Serif 4', sans-serif;
    margin: 10px 15px;
    text-decoration: none;

}
a:hover {
    color: #eaf6f6;
}

div.top {
    background-color: #e4f9f5;
    position: relative;
    padding-top: 100px;
    
}



div.bottom {
    background-color: #66bfbf;
    padding: 50px 0 20px;
}

/* .footer-link {
    background-color: #11999e;
} */

.pro {
    text-decoration: underline;
}

.bottom-cloud {
    position: absolute;
    left: 250px;
    bottom: 300px;
}

.top-cloud {
    position: absolute;
    right: 300px;
    top: 40px;
}

.skill-row {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    
}

.comp-img {
    width: 25%;
    border-radius: 50%;
    float: left;
    margin-right: 30px;
}

.chilly-img {
    width: 25%;
    float: right;
    margin-left: 30px;
}

.profile-img {
    border-radius: 50%;
}

.profile, .skills, .contact-me {
    margin: 50px 0 50px 0;
}

hr {
    border-style: none;
    border-top-style: dotted;
    border-width: 5px;
    border-color:grey;
    width: 5%;
    margin: 100px auto;
}

.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
  }

.contact-me-p {
    margin-bottom: 50px;
}

.copyright {
    color: #eaf6f6;
    font-size: 0.75rem;
    padding: 20px 0px;
}


/* .comp-skill-des {
    clear: left;
}

.chilly-skill-desc {
    clear: right;
} */

/* .container {
    position: relative;
    width: 300px;
    height: 300px;
    background-color: grey;
}

.red {
    background-color: red;
    width: 100px;
    height: 100px;
    
    /* position: relative;
    left: 200px;
    display: inline-block; */

    /* position: absolute;
    left: 200px;
    top: 200px;
}

.blue {
    background-color: blue;
    width: 100px;
    height: 100px;
    /* display: inline-block;
    position: relative;
    right: 100px; */
/* 
    position: absolute;
    left: 100px;
    top: 100px;
    
}

.yellow {
    background-color: yellow;
    width: 100px;
    height: 100px;
    /* display: inline-block;
    position: relative;
    right: 100px; */
/* 
    position: absolute; 
}   */