body {
    text-align: center;
    
}

.container-fluid {
    background-color: aquamarine;
    margin-bottom: 20px;
    padding: 2%;


}

#title {
    overflow: hidden;

    position: fixed;
    top: 0;
    width: 100%;
    

}




#mainContent {
    padding-top: 10%;
    padding-bottom: 3%;
    
    background-color: #e7717d;

}

#footer {
    background-color: aquamarine;
    padding: 3% 15% 1%;
}