
body {
    font-family: 'Montserrat';
}

h1 {
    font-family: 'Montserrat-Black';
    
    font-size: 4.5rem;
    line-height: 1.5;

}

h3 {
    font-family: "Montserrat-Bold";
    font-weight: bold;
}

p {
    color: #8f8f8f;
}

/* Id Selector */
#title {
    background-color: #ff4c68;
    color: white;
}

/* Class Selectors */

.container-fluid {
    padding: 3%  15%;
}

/* Navigation Bar */
.navbar-brand {
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}

.navbar {
    padding-bottom: 4.5rem;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-family: "Montserrat-Light";
}

/* Download Buttons */
.download-btn {
    margin: 5% 3% 5% 0;
}

/* Title image */
.title-img {
    width: 60%;
    transform: rotate(25deg);
}

/* Features */
#features {
    
    font-family: Arial, Helvetica, sans-serif;

    padding: 7% 15%;
}

.feature-box {
    text-align: center;
    padding: 5%;
}

.fas-feature {
    color: #ef8172;
    margin-bottom: 1rem;
}

.fas-feature:hover {
    color: #ff4c68;
} 